$bodyBackground: #dcbb9a;
$contentBackground: #ffffff;
$HeadingColor: #893c00;
$imgFrame: 0px 0px 0px 2px #893c00;
$float: right;

$briefBackground: #fadcba;
$briefFloat: left;
$briefwidth: 380px;
$briefPadding: 20px;

$tbody_Color: #ffffff;

$th_background-color: #e0e0e0;

$label_Color: #808080;