$bodyBackground: #c6eefc;
$contentBackground: #404040;
$HeadingColor: #fccd10;
$title: uppercase;
$imgFrame: 0px 0px 0px 2px #fccd10;
$textColor: #fff;
$float: right;

$briefBackground: #fff178;
$briefPadding: 20px;

$aColor: #f5c70f;

$tbody_Color: #677d01;

$th_background-color: #94a34e;

$label_Color: #f5c70f;